{% extends 'posts/base.html' %} {% block content %}
{% load crispy_forms_tags %}
<div>
  <div class="card w-25">
    <img
      class="rounded-circle account-img card-img-top w-90"
      src="{{user.profile.image.url}}"
      alt=""
    />
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_u|crispy}}
        {{form_p|crispy}}
        <button class='btn btn-primary mt-3'>submit</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
